html {
  font-size: 62.5%;
}
body {
  font-family: 'Raleway', sans-serif;
  background-image: url('images/typewriter.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
  height: 100vh;
}
main {
  display: flex;
  flex-flow: column nowrap;
  max-width: 640px;
  margin: 0 auto;
  color: antiquewhite;
  position: relative;
  top: 70%;
  transform: translateY(-50%);
}
@media (max-width: 600px) {
  main {
    top: 40%;
  }
}
.info {
  background-color: rgba(49, 77, 75, .9);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 30px;
  flex: 1 1 auto;
}
h1 {
  font-size: 32px;
  margin-bottom: 0;

}
h2 {
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1px;
}

.social {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;

}

.social a {
  display: block;
  text-decoration: none;
}

a.resume-link {
  text-decoration: none;
  color: antiquewhite;
  font-size: 20px;
}
a.resume-link:hover,
a.resume-link:active,
a.resume-link:focus {
  text-decoration: underline;
}
