.info {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;

  &-temp__header {
    margin-top: 40px;
    margin-bottom: 0;
  }
  &__header {
    margin: 25px 0;
  }
  &__block {
    display: flex;
    flex-direction: row;

    &__resume {
      width: 50%;
      text-align: center;
      padding-top: 20px;
    }
    &__links {
      padding-right: 60px;
      text-align: right;
      width: 50%;
    }
  }
}
#circle-bkgrd-top {
  fill: red;
}
