.scroll-helper {
    display: block;
    font-size: 3rem;
    left: 48vw;
    position: fixed;
    top: 90vh;
    z-index: 1000;

    i {
        color: white;

    }
}
@media (max-width: 500px) {
    .scroll-helper {
        display: none;
    }
}
