$med-blue: #2b71c3;

.header {
    position: relative;
    text-align: center;

    h1 {
        font-size: 3rem;
        color: $med-blue;
    }
    h2 {
        font-size: 1.25rem;
        font-weight: 100;
    }
}
